/* Error: Missing argument $fontSize.
 *   ,--> sass/component/_btn.scss
 * 1 | @include btn(l, 20px, 50px);
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass/mixin/_mixin.scss
 * 2 | @mixin btn($style, $importance, $lineHeight, $fontSize, $bgColor, $color){
 *   |        ================================================================== declaration
 *   '
 *   sass/component/_btn.scss 1:1  btn()
 *   sass/component/_btn.scss 1:1  @import
 *   sass/style.scss 10:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $fontSize.\a   \250c \2500 \2500 > sass/component/_btn.scss\a 1 \2502  @include btn(l, 20px, 50px);\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass/mixin/_mixin.scss\a 2 \2502  @mixin btn($style, $importance, $lineHeight, $fontSize, $bgColor, $color){\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   sass/component/_btn.scss 1:1  btn()\a   sass/component/_btn.scss 1:1  @import\a   sass/style.scss 10:9          root stylesheet";
}
