/*header start =========================*/
header{
    
    span{
        display: none;
    }

    width: 100%;

    .member-center{
        display: none;
    }

    a{
        text-decoration: none;
        color: $fontColor;
        cursor: pointer;
    }

    .container{
        @include flexBox();
        padding: 10px 0;
        align-items: center;

        img{
            height: 40px;
        }

        .nav-bar{
            @include flexBox();
            @include flexAlign(center, flex-end);
            width: 80%;
            .nav{
                @include flexBox();
                @include flexAlign(center, space-around);
                width: 70%;
                margin-top: 15px;
        
                li{
                    width: 100%;
                    // width: 75px;
                    text-align: center;
                    font-size: $paragraph-s;
                    }


            }

            .nav-btn{
                display: flex;
                
                
                    
                li{
                    border: 1px solid $fontColor;
                    @include flexAlign(center, space-around);
                    padding: 10px;
                    margin: 0 5px;
                    font-size: $paragraph-s;
                    
                    
                }



                // button{
                //     background-color: transparent;
                //     cursor: pointer;
                //     // color: $fontColor;
                //     border: 1px solid $fontColor;
                //     padding: 5px;
                //     margin: 15px 10px 5px 10px;
                //     font-size: 14px;
                }

            }
        }



        @include m(){

        }
        
    }  
    





/*header end =========================*/





