$h1-space: 10px 20px;

// RWD 斷點 
$m-breakpoint: 720px;
$t-breakpoint: 1000px;

$titles:(
        h1: 40px,
        h2: 36px,
        h3: 30px,
        span: 16px,
        body: 14px,
        '#app': 18px,
        '.box': 40px
);