body {
    background-color: $bgc;
}

.wrapper{
    width: 100%;
}

.fixed{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    @include layout(1366);
    @include m(){
        @include layout(100);
    }
}