//btn
@mixin btn($style, $importance, $lineHeight, $fontSize, $bgColor, $color){
    .btn-#{$style}-#{$importance}{
        line-height: $lineHeight;
        padding: 10px 40px;
        text-align: center;
        font-size: $fontSize;
        letter-spacing: 1px;
        background-color: $bgColor;
        color: $color;
        border-radius: 8px;
        cursor: pointer;
        transition: all .3s ease;
    
        @content;
    
        &:hover{
            background-color: darken($primary, 8%);
        }
    }
}


@mixin tag($style, $fontSize, $lineHeight){
    .tag-#{$style}{
        display: block;
        line-height: $lineHeight;
        // box-sizing: border-box;
        padding: 10px 40px;
        text-align: center;
        font-size: $fontSize;
        letter-spacing: 1px;
        background-color: $primary;
        color: $secondary;
        transition: all .3s ease;
    
        @content;
    }
}

@mixin flexBox($direction: row){
    display: flex;
    flex-direction: $direction;
}

@mixin flexAlign($alignItems, $justifyContent) {
    align-items: $alignItems;
    justify-content: $justifyContent;
}


@mixin m(){
    @media all and (max-width: $m-breakpoint){
        //code
        @content;
    }
}
