//btn
@mixin btn($style, $fontSize, $lineHeight){
    .btn-#{$style}{
        line-height: $lineHeight;
        padding: 10px 40px;
        text-align: center;
        font-size: $fontSize;
        letter-spacing: 1px;
        background-color: $primary;
        color: $secondary;
        border-radius: 8px;
        cursor: pointer;
        transition: all .3s ease;
    
        @content;
    
        &:hover{
            background-color: darken($primary, 8%);
        }
    }
}


//tag







// layout
@mixin layout($w){
    @if $w == 100{
        width: 100%;
    }@else{
        width: $w;
        margin: auto;
    }
}

section{
    @include layout(1366px);
}



//rwd
//桌機

//手機
// 斷點 放到變數檔案去
// $m-breakpoint: 720px;
// $t-breakpoint: 1000px;

@mixin m(){
    @media all and (max-width: $m-breakpoint){
        //code
        @content;
    }
}

//平板
@mixin t(){
    @media all and (max-width: $t-breakpoint){
        //code
        @content;
    }
    
}